@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hotel Transylvania</h1>
    <p>En opplevelse utenom det vanlige</p>
    <img src="https://external-preview.redd.it/Gisg-cf6wMJnnAcJ53W2Mlsbi9vsgOb-wIJGmvHgBO4.jpg?width=960&crop=smart&auto=webp&s=662768e0e1a76919e2ad6d8c362e6eca27321098" />
</div>


