@model WebAppOblig4.Models.Room;


<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Søk etter ledige rom</h4>
    <form action="/Home/Booking" method="get">
        <button type="submit" class="btn btn-primary">Reserver Rom</button>
    </form>
</div>

<form asp-action="RoomSearch" method="post">
    <div class="form-group">
        <label for="checkinDate">Innsjekkingsdato:</label>
        <input class="form-control" id="checkinDate" name="checkinDate" type="date" />
    </div>
    <div class="form-group">
        <label for="checkoutDate">Utsjekkingsdato:</label>
        <input class="form-control" id="checkoutDate" name="checkoutDate" type="date" />
    </div>
    <div class="form-group">
        <label for="roomType">Room type:</label>
        <select class="form-control" id="roomType" name="roomType">
            <option value="nothing">Velg en type rom</option>
            <option value="SingelRom">Singelrom</option>
            <option value="DobbeltRom">Dobbeltrom</option>
            <option value="Suite">Suite</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Søk</button>
</form>

    @if (Model.roomType == Room.RoomType.SingelRom)
    {
        <img src="https://gamlebyenhotell.no/wp-content/uploads/2021/04/Enkeltrom2.jpg" alt="Singelrom" style="max-height: 250px; max-width: 350px;">
        <p>Pris: 400 NOK/natt</p>
    }
    else if (Model.roomType == Room.RoomType.Dobbeltrom)
    {
        <img src="https://th.bing.com/th/id/OIP._bVJX5TEEMzhZbgmNRyjegHaEo?pid=ImgDet&rs=1" alt="Dobbeltrom" style="max-height: 250px; max-width: 350px;">
        <p>Pris: 600 NOK/natt</p>
    }
    else if (Model.roomType == Room.RoomType.Suite)
    {
        <img src="https://photos.mandarinoriental.com/is/image/MandarinOriental/dmo-The-worlds-most-romantic-hotel-suites-dubai-royal-penthouse-bedroom" alt="Suite" style="max-height: 250px; max-width: 350px;">
        <p>Pris: 1000 NOK/natt</p>
    }


